/* custom-slick.css */
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

/* Override font paths */
.slick-prev:before, .slick-next:before {
  font-family: 'slick' !important;
  font-size: 20px;
  line-height: 1;
  opacity: .75;
  color: black;
}

@font-face {
  font-family: 'slick';
  src: url('/fonts/slick.woff') format('woff'),
       url('/fonts/slick.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
